
{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block tab_menu %}
    {{parent()}}
    <br>
    <div class="btn-group">
        <form method="get" action="{{ admin.generateUrl('crawl-url') }}">
            <input type="text" name="url" size="60"/>
            <button type="submit" class="btn btn-default">
                <i class="fa fa-list"></i>
                Crawl Url
            </button>
        </form>
    </div>

{% endblock %}

