<a class="btn-sm" href="{{ admin.generateObjectUrl('crawl-link', object) }}">crawl</a>
<a class="btn-sm" href="{{ object.url }}" target="_blank">see</a>
<a class="btn-sm" href="{{ admin.generateObjectUrl('show', object) }}">show</a>
