<strong>Links</strong> <span class="badge">{{object.links|length}}</span>
<strong>ToDo</strong> <span class="badge">{{object.todoLinks|length}}</span>
<strong>Processed</strong> <span class="badge">{{object.processedLinks|length}}</span>
<strong>Errors</strong> <span class="badge">{{object.errorLinks|length}}</span>
